<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="SP_CADASTRAR_USUARIO" value="CTRL_DIA_INS_USU"/>
    <add key="SP_ATUALIZAR_USUARIO" value="CTRL_DIA_UPD_USU"/>
    <add key="SP_REGISTRAR_DIARIO" value="CTRL_DIA_INS_DIA"/>

    <add key="SP_OBTER_ALIMENTOS" value="CTRL_DIA_GET_ALI"/>
    <add key="SP_GERAR_RELATORIO" value="CTRL_DIA_GER_REL"/>

  </appSettings>
  <connectionStrings>
    <add name="MSSQL_connectionString" connectionString="Server=localhost;Database=TB_GLICOLIFE;User Id=sa;Password=sql;"/>
  </connectionStrings>
  <system.web>

    <compilation debug="true" strict="false" explicit="false">
    </compilation>
    <httpRuntime targetFramework="4.5" />

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

</configuration>


